AI_2020/task19/test_data/test_EPM.csv
AI_2020/task19/test_data/test_proton.csv
AI_2020/task19/test_data/test_SWE.csv
AI_2020/task19/test_data/test_xray.csv
AI_2020/task19/train_data/train_EPM.csv
AI_2020/task19/train_data/train_proton.csv
AI_2020/task19/train_data/train_SWE.csv
AI_2020/task19/train_data/train_xray.csv
AI_2020/task19/val_data/val_EPM.csv
AI_2020/task19/val_data/val_proton.csv
AI_2020/task19/val_data/val_SWE.csv
AI_2020/task19/val_data/val_xray.csv
AI_2020/task20/predict_1.csv
AI_2020/task20/predict_lgbm2.csv
submit.csv
dacon/comp_jeju/submission.csv
data/dacon/comp3/train_features.csv
data/dacon/comp3/train_features.csv
data/dacon/comp_jeju/submission.csv
data/dacon/comp_jeju/train.csv

data/dacon_data/comp_jeju/train.csv
data/dacon_data/comp_jeju/submission.csv
data/dacon_data/comp_jeju/sample.csv
data/dacon_data/comp3/train_target.csv
data/dacon_data/comp3/train_features.csv
data/dacon_data/comp3/test_features.csv
data/dacon_data/comp3/sample_submission.csv
data/dacon_data/comp1/train.csv
data/dacon_data/comp1/test.csv
data/dacon_data/comp1/sample_submission.csv
data/dacon_data/comp1/rho.csv
data/dacon_data/comp1/predict2.csv
data/dacon_data/comp1/predict.csv
data/dacon_data/comp1/predict_xgb.csv
data/dacon_data/comp1/predict_1.csv
data/dacon_data/comp1/concat.csv
data/dacon/comp3/train_target.csv
dacon/comp_jeju/submission1.csv
catboost_info/learn_error.tsv
catboost_info/test_error.tsv
catboost_info/time_left.tsv
catboost_info/test/events.out.tfevents
catboost_info/catboost_training.json
catboost_info/learn/events.out.tfevents
.vscode/settings.json
best_m.hdf5
jupyter/Untitled.ipynb
jupyter/.ipynb_checkpoints/Untitled-checkpoint.ipynb
catboost
catboost_info
data/dog_cat/cat.jpg
data/dog_cat/dog.jpg
data/dog_cat/suit.jpg
data/dog_cat/yang.jpg
data/csv/data-tf.csv
data/dacon_data/comp3/submit2.csv
